<%-include("partials/header5")-%>
<nav class="navbar">
    <a href="/" class="project">
     PANACEA
    </a>
    <div class="block1">
     <img src="admin_sign_nav.jpeg" alt="IMAGE">
     <li> <%= name %> </li>
     <li></li>
     </div>
     <li class="logout"><a href="/signin_admin" >Log-Out</a></li>
 </nav>

 <aside id="container">
    <% for(var i=0;i<posts.length;i++) { %>
        <form action="/delete" method="post">
     <section id="queries">
         <div class="holder">
         <input type="checkbox" name="checkbox" value="<%= posts[i]._id %>" onChange="this.form.submit()">
          Published by <%= posts[i].name %> on <%= posts[i].date %>
         </div>
         <div class="tittle_holder"> <%= posts[i].title %> </div>
         <p> <%= posts[i].content %> </p>
         <div class="cont">
             <p>&uarr;</p>
             <p> <%= posts[i].votes %> </p>

         </div>
     </section>
     </form>
     <%  } %>
 </aside>
 <%-include("partials/footer1")-%>