<%-include("partials/header6")-%>
<div class="navbar">
  <div class="dropdown">
      <button class="dropbtn"> <%= name %>
        <i class="fa fa-caret-down"></i>
      </button>
      <div id="myDropdown" class="dropdown-content">
          <a href="/myqueries">My Queries</a>
          <a href="/logout">Log Out</a>
      </div>
  </div>
  <a href="#compose-area" class="compA">+</a>
  <div class="project"><a href="/">PANACEA</a></div>
</div>
<% for(var i=0; i<posts.length; i++) { %>
  <section id="queries" class="post-section" data-id="<%= posts[i]._id %>">
      <div class="dropdown top-right"> <!-- Add top-right class for positioning -->
          <button class="dropbtn">
              <i class="fa fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-content">
            <a href="#" class="edit-btn" data-post-id="<%= posts[i]._id %>">Edit</a>
              <a href="#" class="delete-post">Delete Post</a>
              <a href="#" class="send-reminder">Send a Reminder</a>
          </div>
      </div>
      <div class="post-image">
        <% if(posts[i].image){ %>"
        <img   src="/images/uploads/<%=posts[i].image %>" alt="" width="100%" height="50%">
        <% }%>  
      </div>
      <div class="holder">
          Published by <%= posts[i].name %> on <%= posts[i].date %>
      </div>
      <div class="title_holder"> <%= posts[i].title %> </div>
      <p> <%= posts[i].content %> </p>
      <div class="cont"> <!-- Remove dropdown-container class -->
          <button id="upvote" data-id="<%= posts[i]._id %>">&uarr;</button>
          <p class="votes"> <%= posts[i].votes %> </p>
          <button id="downvote" data-id="<%= posts[i]._id %>">&darr;</button>
      </div>
  </section>
<% } %>
</aside>
<form id="editForm" style="display: none;" method="POST">
  <input type="text" name="title" placeholder="Title">
  <textarea name="content" placeholder="Content"></textarea>
  <button type="submit">Save Changes</button>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   $(document).on('click', '#upvote', function() {
  const postId = $(this).data('id');
  $.ajax({
    type: 'POST',
    url: '/upvote/<%=id%>',
    contentType: 'application/json', // Ensure server knows we're sending JSON
    data: JSON.stringify({ postId: postId }), // Convert the JavaScript object to a JSON string
    success: function(data) {

     $('section[data-id="' + postId + '"] .votes').text(data.votes);
    },
    error: function() {
      alert('Error upvoting post!');
    }
  });
});
$(document).on('click', '#downvote', function() {
    const postId = $(this).data('id');
  $.ajax({
    type: 'POST',
    url: '/downvote/<%=id%>',
    contentType: 'application/json', // Ensure server knows we're sending JSON
    data: JSON.stringify({ postId: postId }), // Convert the JavaScript object to a JSON string
    success: function(data) {
      $('.post[data-id="' + postId + '"] .votes').text(data.votes);
    },
    error: function() {
      alert('Error downvoting post!');
    }
  });
});

$(document).on('click', '.delete-post', function() {
    const postId = $(this).closest('.post-section').data('id');
    $.ajax({
        type: 'DELETE',
        url: '/delete-post/' + postId,
        success: function(data) {
            // Remove the deleted post from the DOM
            $(`.post-section[data-id="${postId}"]`).remove();
        },
        error: function() {
            alert('Error deleting post!');
        }
    });

  });
  $(document).on('click', '.send-reminder', function() {
    const postId = $(this).closest('.post-section').data('id');
    $.ajax({
        type: 'POST',
        url: '/send_reminder/' + postId, 
        success: function(data) {
            alert(data.message);
        },
        error: function() {
            alert('Error sending reminder email!');
        }
    });
});
$('.edit-btn').click(function() {
    const postId = $(this).data('post-id');
    const userId = '<%= id %>'; 
    // Fetch the current post's content
    fetch(`/posts/${postId}`)
        .then(response => response.json())
        .then(data => {
            // Assume you have a form with an id of `editForm`
            $('#editForm [name="title"]').val(data.title);
            $('#editForm [name="content"]').val(data.content);
            $('#editForm').attr('action', `/posts/edit/${postId}/${userId}`);
            // Show the form, maybe as a modal
            $('#editForm').show();
        });
});
</script>
<%-include("partials/footer1")-%>