<%-include("partials/header4")-%>
<div class="navbar">

  <div class="dropdown">

      <button class="dropbtn"> <%= name %>
        <i class="fa fa-caret-down"></i>
      </button>
      <div id="myDropdown" class="dropdown-content">
        <a  class="myqueries" href="/my_queries/<%=id %>">My Queries</a>

          <a href="/logout">Log Out</a>
      </div>
  </div>
  <a href="#compose-area" class="compA">+</a>
  <div class="project"><a href="#">PANACEA</a></div>
</div>
<aside id="container">
    <section id="compose-area">
        <h1>COMPOSE</h1>
        <form action="/query_page/<%=id%>" method="post">
        <div class="form-group">
            <label for="tittle">Title: </label>
            <br>
            <textarea name="tittle" id="tittle" placeholder="tittle your querie" cols="20" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="message">Message: </label>
            <br>
            <textarea name="message" id="message" placeholder="explain your querie" cols="20" rows="5"></textarea>
        </div>
  <!-- Add data-id attribute to the publish button to store postId -->
<button class="publish">Publish</button>


        </form>
    </section>
    <% for(var i=0;i<posts.length;i++){ %>
    <section id="queries" class="post-section" data-id="<%= posts[i]._id %>">
        <div class="holder">
            Published by <%= posts[i].name %> on <%= posts[i].date %>
        </div>
        <div class="tittle_holder"> <%= posts[i].title %> </div>
        <p> <%= posts[i].content %> </p>
        <div class="cont">
            <button id="upvote" data-id="<%= posts[i]._id %>">&uarr;</button>
            <p class="votes"> <%= posts[i].votes %> </p>
            <button id="downvote" data-id="<%= posts[i]._id %>">&darr;</button>

        </div>
    </section>
    <% } %>
</aside>
</body>

<script>
   $(document).on('click', '#upvote', function() {
  const postId = $(this).data('id');
  $.ajax({
    type: 'POST',
    url: '/upvote/<%=id%>',
    contentType: 'application/json', // Ensure server knows we're sending JSON
    data: JSON.stringify({ postId: postId }), // Convert the JavaScript object to a JSON string
    success: function(data) {
     // $('.post[data-id="' + postId + '"] .votes').text(data.votes);
     $('section[data-id="' + postId + '"] .votes').text(data.votes);
    },
    error: function() {
      alert('Error upvoting post!');
    }
  });
});
$(document).on('click', '#downvote', function() {
    const postId = $(this).data('id');
  $.ajax({
    type: 'POST',
    url: '/downvote/<%=id%>',
    contentType: 'application/json', // Ensure server knows we're sending JSON
    data: JSON.stringify({ postId: postId }), // Convert the JavaScript object to a JSON string
    success: function(data) {
      $('.post[data-id="' + postId + '"] .votes').text(data.votes);
    },
    error: function() {
      alert('Error downvoting post!');
    }
  });
});


</script>
<%-include("partials/footer1")-%>