<%-include("partials/header4")-%>
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn"> <%= name %>
      <i class="fa fa-caret-down"></i>
    </button>
    <div id="myDropdown" class="dropdown-content">
      <a  class="myqueries" href="/my_queries/<%=id %>">My Queries</a>
      <a href="/logout">Log Out</a>
    </div>
  </div>
  <div class="dropdown">
    <a href="#" class="dropbtm" onclick="toggleDropdown(event)">&#128276;
      <i class="fa fa-caret-down"></i>
    </a> 
    <span class="notification-badge" id="notificationBadge"><%= notifications.length %></span>

    <div id="myDropdown1" class="dropdown-content">
      <% if (notifications.length > 0) { %>
        <% notifications.forEach(notification => { %>
          <a href="#"><%= notification.message %></a>
          <button class="showbutton" data-postid="<%= notification.postId %>"><i class="fas fa-check"></i> Show me</button>
        <% }); %>
      <% } else { %>
        <p>No notifications</p>
      <% } %>
    </div>
  </div>
  <div class="project"><a href="/">PANACEA</a></div>
</div>
<aside id="container">
  <section id="compose-area">
    <h1>COMPOSE</h1>
    <form action="/query_page/<%=id%>" method="post" enctype="multipart/form-data">
      <input type="file" name="image">
      <div class="form-group">
        <label for="tittle">Title: </label>
        <br>
        <textarea name="tittle" id="tittle" placeholder="tittle your querie" cols="20" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="message">Message: </label>
        <br>
        <textarea name="message" id="message" placeholder="explain your querie" cols="20" rows="5"></textarea>
      </div>
      <!-- Add data-id attribute to the publish button to store postId -->
      <button id="button" class="publish">Publish</button>
    </form>
  </section>
  <% for(var i=0;i<posts.length;i++){ %>
    <section id="queries" class="post-section" data-id="<%= posts[i]._id %>">
      <div class="post-image">
        <% if(posts[i].image){ %>
        <img   src="/images/uploads/<%=posts[i].image %>" alt="" width="100%" height="50%">
        <% }%>  
      </div>
      <div class="holder">
        Published by <%= posts[i].name %> on <%= posts[i].date %>
      </div>
      <div class="tittle_holder"> <%= posts[i].title %> </div>
      <p> <%= posts[i].content %> </p>
      <div class="cont">
        <button class="upvote" data-id="<%= posts[i]._id %>">&uarr;</button>
        <p class="votes"> <%= posts[i].votes %> </p>
        <button class="downvote" data-id="<%= posts[i]._id %>">&darr;</button>
      </div>
      <button class="commentsbtn" data-id="<%=posts[i]._id %>"><span class="mdi--comments"></span> Comments</button>
    </section>
  <% } %>
</aside>
<div class="modal" id="postModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
        <p id="modalContent">Some content...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="yesbutton">YES</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="nobutton">NO</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="commentsmodal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comments Section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="commentInput">Add a Comment:</label>
          <textarea class="form-control" id="commentInput" rows="3"></textarea>
          <button type="button" class="btn btn-primary" id="submitComment">Submit</button>
        </div>
        <hr>
        <h6>All Comments:</h6>
        <ul class="list-group" id="allComments">
       
        </ul>
      </div>
      <div class="modal-footer">
  
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeComments">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.showbutton').click(function() {
        var postId = $(this).data('postid');
       
    
        $.ajax({
          url: '/get_post_content/' + postId, 
          type: 'GET',
          success: function(response) {
            // Assuming 'response' contains the post content
            $('#postModal .modal-body').html(`<p>${response.content}</p>`);
            $('#yesbutton, #nobutton').attr('data-lid', postId);
            $('#postModal').modal('show'); // Using Bootstrap's modal functionality
          },
          error: function() {
            alert('Failed to fetch post content');
          }
        });
      });
    
      // Use event delegation for handling clicks on dynamically set attributes
      $('#postModal').on('click', '#yesbutton', function() {
        var postId = $(this).attr('data-lid');
        console.log("YES clicked for postId: " + postId);
        $.ajax({
            url: '/yes/'+postId,
            type: 'POST',
            success: function(response) {
              window.location.reload();
            },
            error: function() {
                alert('Failed to fetch post content');
            }
        });
        // Implement YES button functionality here
      });
    
      $('#postModal').on('click', '#nobutton', function() {
        var postId = $(this).attr('data-lid');
        console.log("NO clicked for postId: " + postId);
        // Implement NO button functionality here
        $.ajax({
            url: '/no/'+postId,
            type: 'POST',
            success: function(response) {
              window.location.reload();
            },
            error: function() {
                alert('Failed to fetch post content');
            }
        });
      });
      
   
      $(window).click(function(event) {
        if (event.target.id == 'postModal') {
          $('#postModal').modal('hide');
        }
      });
    });
    </script>
<script>
  $(document).ready(function() {
    $('.commentsbtn').click(function() {
      var postId = $(this).data('id');
      $.ajax({
        url: '/get_comments/' + postId, 
        type: 'GET',
        success: function(response) {
          if (response.success) {
             var comments = response.comments;
             var modalContent = '';
             comments.forEach(function(comment) {
              modalContent += '<li class="list-group-item">' +
                                '<strong>' + comment.userN + '</strong> - ' +
                                comment.content + ' - ' + // Comment text
                                comment.date + // Date created (assuming 'date' is the field name)
                                '</li>';
             }); 
             $('#commentsmodal .modal-body #allComments').html(modalContent);
            $('#submitComment').attr('data-lid', postId);
            $('#commentsmodal').modal('show');
          } else {
            alert(response.message);
          }
        },
        error: function() {
          alert('Failed to fetch comments');
        }
      });
    });

    $('#submitComment').click(function() {
      var postId = $(this).attr('data-lid');
      var commentText = $('#commentInput').val();

      $.ajax({
        url: '/add_comment/' + postId,
        type: 'POST',
        data: { text: commentText },
        success: function(response) {
          $('#commentInput').val('');
          window.location.reload();
        },
        error: function() {
          alert('Failed to add comment');
        }
      });
    });

    $('#closeComments').click(function() {
      $('#commentInput').val('');
      $('#commentsmodal').modal('hide');
    });
  });
</script>
<script>
  function toggleDropdown(event) {
    event.preventDefault(); // Prevent default link behavior
    $('#myDropdown1').toggle(); // Toggle the visibility of the dropdown
  }
  $(document).on('click', '.upvote', function() {
    const postId = $(this).data('id');
    $.ajax({
      type: 'POST',
      url: '/upvote/<%=id%>',
      contentType: 'application/json', // Ensure server knows we're sending JSON
      data: JSON.stringify({ postId: postId }), // Convert the JavaScript object to a JSON string
      success: function(data) {
        $('section[data-id="' + postId + '"] .votes').text(data.votes);
        window.location.reload();
      },
      error: function() {
        alert('Error upvoting post!');
      }
    });
  });

  $(document).on('click', '.downvote', function() {
    const postId = $(this).data('id');
    $.ajax({
      type: 'POST',
      url: '/downvote/<%=id%>',
      contentType: 'application/json',
      data: JSON.stringify({ postId: postId }),
      success: function(data) {
        $('section[data-id="' + postId + '"] .votes').text(data.votes);
        window.location.reload();
      },
      error: function() {
        alert('Error downvoting post!');
      }
    });
  });
</script>
<%-include("partials/footer1")-%>