<%-include("partials/header7")-%>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Panacea</a>
      </div>
  
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/notice_page"><span class="glyphicon glyphicon-user"></span> notice</a></li>
        <li><a href="/admin_page"><span class="glyphicon glyphicon-user"></span> admin</a></li>
        <li><a href="/signin_admin"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
</nav> 

<div class="container">
    <h1>All Users</h1>
    <div class="user-list">
        <% users.forEach(user => { %>
            <div class="user">
               <span class="username"><%= user.name %></span>
               <% if(user.blocked){ %>
                <button class="block-btn<%= user.blocked ? ' connected' : '' %>" data-id="<%= user._id %>">Unblock User</button>
                <% }else{ %>
                <button class="block-btn<%= user.blocked ? ' connected' : '' %>" data-id="<%= user._id %>">Block User</button>
                <% } %>

            </div>
        <% }); %>
    </div>
</div>
<script>

  const blockButtons = document.querySelectorAll('.block-btn');
  blockButtons.forEach(blockButton => {
      blockButton.addEventListener('click', function () {
          const userId = blockButton.dataset.id;
          const isConnected = blockButton.classList.contains('connected');
          //console.log("HELLLLLL");
  
          fetch('/block_user', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ id: userId })
          })
          .then(response => {
              if (response.ok) {
                  return response.json();
              }
              throw new Error('Network response was not ok.');
          })
          .then(data => {
              // Update UI accordingly
              console.log(data.blocked);
              if (data.blocked) {
                  blockButton.classList.add('connected');
                  blockButton.textContent = 'Unblock User';
              } else {
                blockButton.classList.remove('connected');
                blockButton.textContent = 'Block User';
              }
          })
          .catch(error => {
              console.error('Error blocking user:', error);
          
          });
      });
  });
  </script>
  

<%-include("partials/footer1")-%>
